<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1" metadata-complete="true">

	<display-name>Task Executor</display-name>

	<description>
     Starts and executes all available external tasks
  </description>

	<listener>
		<listener-class>newaccount.task.executor.StartupListener</listener-class>
	</listener>
</web-app>
